{% extends "app/base.html" %}

{% load static %}
{% block css %}
<link href="{% static 'app/css/lista-productos.css' %}" rel="stylesheet">
{% endblock %}

{% block contenido %}
{% load humanize %}



<!--cards-->
<body>

<title>Lista Medicamentos</title>
{% for p in medicamentos %}
  <div class="container">
    
   
    <div class="card">
      {% if p.imagen %}
      <img src="{{ p.imagen.url }}"  alt="imagen producto">
      {% endif %}
      <div class="detalle">
        <h5>{{ p.nombre | capfirst | title }}</h5>
        <h3>{{ p.stock |intcomma }}</h3>
        <h3>{{ p.fecha_fabricacion}}</h3>
        <h3>{{ p.caducado }}</h3>
      </div>
     </div>

     

  </div>
  {% endfor %}

  
</body>



  

  



{% endblock %}